<div class="container mb-4" (click)="onExpand($event)">
  <div *ngIf="!isExpanded; else expanded" class="client-card row"
    [ngClass]="{'client-card--expanded': animate, 'client-card--inactive': !client.isActive}">
    <div class="client-card__item col-4" [ngClass]="{'client-card__item--transitioning': isTransitioning}">
      <span class="client-card__span">{{client.firstName}} {{client.lastName}}</span>
    </div>
    <div class="client-card__item col-4" [ngClass]="{'client-card__item--transitioning': isTransitioning}">
      <span class="client-card__span">{{client.country}} / {{client.city}} / {{client.postalCode}}</span>
    </div>
    <div class="client-card__icons-container col-4 py-0">
      <img (click)="onDelete()" id="client-card-remove" style="width: 24px; height: 24px;" src="/assets/icons/delete-24px.svg" alt="delete">
      <img (click)="onEdit()" id="client-card-edit" style="width: 24px; height: 24px;"
        [src]="client.isActive ? editIcon : editIconWhite" alt="edit">
      <img style="width: 24px; height: 24px;" [src]="client.isActive ? expandMore : expandMoreWhite" alt="show-more">
    </div>
    <ng-content></ng-content>
  </div>
</div>

<ng-template #expanded>
  <div class="client-card row"
    [ngClass]="{'client-card--expanded': animate , 'client-card--inactive': !client.isActive}">
    <!-- FIRST ROW -->
    <div class="col-10" *ngIf="isExpanded">
      <div class="row">
        <div class="client-card__item client-card__item--expanded col-12 col-md-4 p-2"
          [ngClass]="{'client-card__item--transitioning': isTransitioning}">
          <div class="client-card__title">Name</div> {{client.firstName}}
        </div>
        <div class="client-card__item client-card__item--expanded col-12 col-md-4 p-2"
          [ngClass]="{'client-card__item--transitioning': isTransitioning}">
          <div class="client-card__title">Lastname</div> {{client.lastName}}
        </div>
        <div class="client-card__item client-card__item--expanded client-card__item--break col-12 col-md-4 p-2"
          [ngClass]="{'client-card__item--transitioning': isTransitioning}">
          <div class="client-card__title">Phone</div>{{client.phone}}
        </div>
      </div>
    </div>

    <div class="client-card__icons-container client-card__icons-container--expanded col-2 p-2" *ngIf="isExpanded">
      <img (click)="onEdit()" id="client-card-edit" style="width: 24px; height: 24px;"
        [src]="client.isActive ? editIcon : editIconWhite" alt="edit">
      <img style="width: 24px; height: 24px;" [src]="client.isActive ? expandLess : expandLessWhite" alt="show-less">
    </div>
    <!-- SECOND ROW -->
    <div class="col-10" *ngIf="isExpanded">
      <div class="row">
        <div class="client-card__item client-card__item--expanded client-card__item--break col-12 col-md-4 p-2"
          [ngClass]="{'client-card__item--transitioning': isTransitioning}">
          <div class="client-card__title">Email</div> {{client.email}}
        </div>
        <div class="client-card__item client-card__item--expanded col-12 col-md-4 p-2"
          [ngClass]="{'client-card__item--transitioning': isTransitioning}">
          <div class="client-card__title">Country</div>{{client.country}}
        </div>
        <div class="client-card__item client-card__item--expanded col-12 col-md-4 p-2"
          [ngClass]="{'client-card__item--transitioning': isTransitioning}">
          <div class="client-card__title">City</div> {{client.city}} / {{client.postalCode}}
        </div>
      </div>
    </div>
  </div>
</ng-template>