@import "vars";

.pagination {
  &__container {
    display: flex;
    align-items: center;
    color: $off-white;
    font-size: 20px;
    font-weight: bold;
    &--left {
      justify-content: flex-start;
    }
    &--center{
      justify-content: center;
      color: $primary;
    }
    &--right {
      justify-content: flex-end;
    }
  }
  &__icon {
    border-radius: 5px;
    background: $primary;
    border: 1px solid $off-white;
    &--disabled{
      background: $blue;
      &:hover{
        background: $blue!important;
      }
      &:active{
        background: $blue!important;
      }
    }
    &:hover {
      background: darken($color: $primary, $amount: 20);;
    }
    &:active {
      background: $primary;
    }
  }
}
